<form [formGroup]="myForm" (ngSubmit)="sendForm()">
    <div>
        <label for="texto">Input texto</label>
        <input type="text" name="texto" formControlName="texto">
    </div>

    <div>
        <label for="checkbox">Input texto</label>
        <input type="checkbox" name="checkbox" formControlName="checkbox">
    </div>
    <div formArrayName="emails">
        <div *ngFor="let email of emailList.controls; let i = index">
            <input type="email" [formControlName]="i" />
            <button type="button" (click)="removeEmail(i)">Eliminar</button>
        </div>  
    </div>

    <button type="button" (click)="addEmail()">Agregar correo</button>
    <button type="submit" [disabled]="myForm.invalid">Guardar</button>
</form>

<div>
    {{myForm.value | json}}
    invalido => {{myForm.invalid}}
</div>
<!-- form base
    <form #myForm="ngForm" (ngSubmit)="sendForm()">
    <div>
        <label for="texto">Input texto</label>
        <input type="text" name="texto" [(ngModel)]="modelForm.inputText">
    </div>

    <div>
        <label for="checkbox">Input texto</label>
        <input type="checkbox" name="checkbox" [(ngModel)]="modelForm.checkbox" (ngModelChange)="changeCheckbox()">
    </div>
    <button type="submit">Send Form</button>
</form>

<div>
    {{modelForm | json}}
</div>
-->

<br><br><br><br><br><br><br><br><br><br><br><br>
PRUEBAS--------------
<br>
holisss

<app-test-component></app-test-component>

welcome lab 02

<div style="border: 1px solid cyan; height: 100px; width: 50px;">
<router-outlet></router-outlet>
</div>

<button (click)="goToNavigate('/my-components')">my-components</button>
<button (click)="goToNavigate('/backHome')">back to home</button>

<div style="margin-top: 20px">
    <a [routerLink]="['/my-components/route-2/ruta-child']" routerLinkActive="router-link-active">components directive</a>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">home</a>
    <a [routerLink]="['/my-components/route-2']" routerLinkActive="router-link-active">ruta 2</a>
    <a [routerLink]="['/my-components/detail/iwi']" routerLinkActive="router-link-active">auth</a>
    <a [routerLink]="['/my-components/detail/owo']" routerLinkActive="router-link-active">auth2</a>


</div>

